<a class="btn btn-default" onclick=history.back();><span class="glyphicon"></span>Back</a><div ng-if="failed" class="alert-warning" >Bad Information! {{failMessage}} or is too long</div>
<br/>

<form role="form">
  <div class="form-group">
    <label for="name" class="control-label">Name</label>
    <input type="text" ng-model="beers.name" class="form-control" id="name" placeholder="Enter the beer's name" required/>
  </div>
  <div class="form-group">
    <label for="brewery" class="control-label ">Brewery</label>
    <input type="text" ng-model="beers.brewery" class="form-control" id="brewery" placeholder="Enter the beer's brewery"  required/>
  </div>
  <div class="form-group">
    <label for="style" class="control-label">Style</label>
    <input type="text" ng-model="beers.style" class="form-control" id="style" placeholder="Enter the beer's style" required/>
  </div>
  <div class="form-group">
    <label for="alcohol_content" class="control-label">Alcohol Content</label>
    <input type="number" ng-model="beers.alcohol_content" class="form-control" id="alcohol_content" placeholder="Enter the beer's %" />
  </div>
  <div class="form-group">
    <label for="origin" class="control-label">Origin</label>
    <input type="text" ng-model="beers.origin" class="form-control" id="origin" placeholder="Enter the beer's Origin"/>
  </div>
  <div class="form-group">
    <label for="location" class="control-label">Location</label>
    <input type="text" ng-model="beers.location" class="form-control" id="location" placeholder="Enter the beer's location"/>
  </div>
  <div class="form-group">
    <label class="control-label">Do you love this beer?</label>
    <label for="love" class="control-label">
      yes<input type="radio" ng-model="beers.loved" class="radio" id="love" ng-value="true"  />
    </label>

    <label for="nolove" class="control-label">
      no<input type="radio" ng-model="beers.loved" class="radio" id="nolove" ng-value="false"/>
    </label>
  </div>

  <input type="submit" class="btn btn-primary" ng-click="saveBeer()" value="Save"/>
  <input type="button" class="btn" ng-click="reset()" value="Reset" />
</form>
